[include mainsail.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_420020000F504B4633373520-if00

[printer]
max_velocity: 150
max_accel: 3500
max_accel_to_decel: 1500
max_z_velocity: 10
max_z_accel: 150
square_corner_velocity: 5
kinematics: cartesian

[extruder]
# Before using this section, copy the following values from your existing extruder section and add them here:
# control: .....
# pid_kp: .....
# pid_ki: .....
# pid_kd: .....
step_pin: PD8     # M8
dir_pin: !PC6     # M8
enable_pin: !PC7  # M8
microsteps: 16
rotation_distance: 8.0098993
#max_power: 1.0
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB5 # HE1
sensor_type: ATC Semitec 104NT-4-R025H42G # Triangle Lab TD6 thermistor
sensor_pin: PA1 # TH0
min_temp: 10
max_temp: 300
min_extrude_temp: 140
max_extrude_only_distance: 200

[heater_bed]
heater_pin: PE3 # HE0
sensor_type: EPCOS 100K B57560G104F # Creality bed thermistor
sensor_pin: PA0 # THB
min_temp: 0
max_temp: 120
control: pid
pid_Kp: 690.34
pid_Ki: 111.47
pid_Kd: 1068.83

#-------------------------------------
# Bed Leveling
#-------------------------------------

[bltouch]
sensor_pin: ^PF5 # M3-Stop
control_pin: PB1 # Probe
pin_move_time: 0.675
stow_on_each_sample: False
probe_with_touch_mode: True
pin_up_touch_mode_reports_triggered: False
#z_offset: 1.770 #staat nu onderaan, omdat dit is aangepast via de webgui, en via de "save" button is opgeslagen
speed: 200
lift_speed: 50
samples: 1
sample_retract_dist: 2.0
samples_tolerance_retries: 1
x_offset: -53
y_offset: -16

[safe_z_home]
speed: 200
z_hop: 10
z_hop_speed: 150
home_xy_position: 180,180

[bed_mesh]
speed: 200
horizontal_move_z: 7
probe_count: 8
algorithm: bicubic
mesh_min: 10,10
mesh_max: 300,300

#[bed_mesh default]
#version = 1
#points =
#	  -0.031250, -0.017083, -0.047500, 0.003750, 0.014583, 0.003750
#	  0.020833, 0.017083, -0.017500, 0.008750, 0.005833, -0.026667
# 	  -0.021250, -0.002500, 0.010833, 0.001667, 0.010833, -0.029167
#	  -0.066250, -0.050833, -0.032500, -0.032500, -0.012500, -0.031250
#	  -0.016250, 0.002083, -0.012500, 0.001667, -0.017083, -0.002083
#	  -0.002500, 0.003750, 0.037500, 0.032083, 0.045833, -0.007500
#tension = 0.2
#min_x = 40.0
#algo = bicubic
#y_count = 6
#mesh_y_pps = 2
#min_y = 40.0
#x_count = 6
#max_y = 320.0
#mesh_x_pps = 2
#max_x = 320.0

[screws_tilt_adjust]
screw1: 61,36 # 22,28
screw1_name: front_left
screw2: 360,36 # 22,287
screw2_name: front_right
screw3: 61,304 # 328, 28
screw3_name: back_left
screw4: 360,304 # 328,287
screw4_name: back_right
speed: 50
horizontal_move_z: 5
screw_thread: CW-M3

#-------------------------------------
# Fans and temp sensors
#-------------------------------------
[temperature_sensor stepper_motor_x]
# measuring the temperature of the X motor
sensor_type: EPCOS 100K B57560G104F # Creality bed thermistor
sensor_pin: PA3 # TH2

[temperature_sensor stepper_motor_y]
# measuring the temperature of the Y motor
sensor_type: EPCOS 100K B57560G104F # Creality bed thermistor
sensor_pin: PA4 # TH3

[multi_pin part_cooling_fan]
pins: PC12, PE0 # FAN2, FAN1

[fan]
pin: multi_pin:part_cooling_fan
max_power: 1.0
# cycle_time: 0.0001
hardware_pwm: false
# kick_start_time: 0
off_below: 0.05

[heater_fan hotend_fan]
pin: PE6 # FAN0 ==> 12V Noctua
max_power: 1.0
fan_speed: 1.0
kick_start_time: 0
heater: extruder
heater_temp: 50.0

[controller_fan case_fan]
pin: PE5 # FAN3 ==> 12V Noctua
# tachometer_pin: PC15 # FAN6
max_power: 1.0
fan_speed: 1.0
kick_start_time: 0
stepper: extruder

#-------------------------------------
# General
#-------------------------------------

[force_move]
enable_force_move: true

[filament_switch_sensor filament_sensor]
switch_pin: PC0 # M4-STOP

[stepper_x]
position_min: 0
position_endstop: 360
position_max: 360
step_pin: PE2     # M1
dir_pin: !PB4      # M1
enable_pin: !PC11 # M1
rotation_distance: 40
full_steps_per_rotation: 200
microsteps: 16
endstop_pin: ^PF3 # M1-STOP
homing_speed: 50

[stepper_y]
position_min: 0
position_endstop: 360
position_max: 360
step_pin: PF12   # M2
dir_pin: !PF11   # M2
enable_pin: !PB3 # M2
rotation_distance: 40 
full_steps_per_rotation: 200
microsteps: 16
endstop_pin: ^PF4 # M2-STOP
homing_speed: 50

[stepper_z]
step_pin: PD7    # M3
dir_pin: !PD6    # M3
enable_pin: !PF10 # M3
rotation_distance: 4 
full_steps_per_rotation: 200
microsteps: 16
endstop_pin: probe:z_virtual_endstop
position_min: -5
position_max: 410

[stepper_z1]
step_pin: PD3    # M4
dir_pin: !PD2    # M4
enable_pin: !PD5 # M4
rotation_distance: 4 
full_steps_per_rotation: 200
microsteps: 16

# ---------- X Stepper ----------
# Creality 42-34, 0.8A peak RMS (per phase)
# -------------------------------
[tmc2209 stepper_x]
uart_pin: PC10 # M1-CS
interpolate: false
sense_resistor: 0.110
run_current: 0.7
stealthchop_threshold: 999999

# ---------- Y Stepper ----------
# Creality 42-48, 1.0A peak RMS (per phase)
# -------------------------------
[tmc2209 stepper_y]
uart_pin: PF13 # M2-CS
interpolate: false
sense_resistor: 0.110
run_current: 0.707
stealthchop_threshold: 999999

# ---------- Z Stepper ----------
# Creality 42-34, 0.8A peak RMS (per phase)
# -------------------------------
[tmc2209 stepper_z]
uart_pin: PF9 # M3-CS
interpolate: true
sense_resistor: 0.110
run_current: 0.7
# run_current: 0.48
stealthchop_threshold: 999999

[tmc2209 stepper_z1]
uart_pin: PD4 # M4-CS
interpolate: true
sense_resistor: 0.110
run_current: 0.7
# run_current: 0.48
stealthchop_threshold: 999999

[z_tilt]
z_positions: -18.4,180
  378.4,180
points: 106,196
  360,196
speed: 50
horizontal_move_z: 5
retries: 10
retry_tolerance: 0.01

[tmc2209 extruder]
uart_pin: PD10 # M8-CS/UART_TX
interpolate: false
run_current: 0.60
stealthchop_threshold: 999999

#-------------------------------------
# NeoPixel
#-------------------------------------
[neopixel CE5P_neopixel]
pin: PA9 # RGB1
#   The pin connected to the neopixel. This parameter must be
#   provided.
chain_count: 26
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: BGR
#   Set the pixel order required by the LED hardware (using a string
#   containing the letters R, G, B, W with W optional). Alternatively,
#   this may be a comma separated list of pixel orders - one for each
#   LED in the chain. The default is GRB.
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
#initial_WHITE: 0.0
#   See the "led" section for information on these parameters.

#-------------------------------------
# Additional Macros
#-------------------------------------

#[idle_timeout]
#gcode:
#  G28 X Y

[delayed_gcode Home_XYZ]
initial_duration: 1
gcode:
  G28

